.top-menu{
   width: auto; 
   height: 80px;
   background: #f0f0f0;
   border-top: solid #f0f0f0;
   border-bottom: solid #f0f0f0;
}

.top-contato{
    position: relative;
    padding-right: 20px;
    padding-top: 10px;
    width: auto;
    height: auto;
}

.contato-menu li{
    display: inline;
    line-height: 25px;
    text-align: center;
    margin-left: 1rem;
    padding-left: 5px;
    font-family: monospace;
    letter-spacing: 2px;
}

.info-dolar{
    position: relative;
    left: 700px;
    bottom: 24px;
    width: 300px;
    height: auto;
}

.info-dolar li{
    display: inline;
    line-height: 25px;
    text-align: center;
    margin-left: 1rem;
    padding-left: 4px;
    font-family: monospace;
    color: #2095f4;
    font-weight: 800;
    letter-spacing: 1px
}

.info-siganos{
    margin-left: 1rem;
}

.logo{
    display: inline-block;
    margin-left: 5rem;
    padding: 12px 0px;
}

.menu-nav{
    position: absolute;
    display: inline;
    left: 45%;
    margin-top: 30px;
    
}

.menu-nav li{
    display: inline-block;
    margin-left: 2rem;
    vertical-align: middle;

}
.fundo-folder{
    width: cover;
    height: 550px;
    background: #D3D3D3;
}

.folder-home{
    width: 100%; height: 500px;
    background-image: url(../imagem/home.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.titulo-1{
    position: absolute;
    padding: 40px;
    left: 18%;
    top:50%;
    font-size: 3.5em;
    text-align: center;
    color: #FFFAFA;
    font-weight: 800;
    width: 600px;
    opacity: 1;
    letter-spacing: 2px;
    margin-bottom: 30px;
}

.titulo-2{
    position: absolute;
    padding:50px;
    left: 18%;
    top:80%;
    font-size: 24px;
    text-align: center;
    color: #FFFAFA;
    font-weight: 800;
    width: 600px;
    opacity: 1;
    letter-spacing: 2px;
    margin-bottom: 30px;
}


.titulo-3{
    color: #41464b;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    margin: 20px auto 10px auto;
}

.secao-descricao{
    position: relative;
    padding-left: 5%;
    left: 10%;
    width: 720px;
    height: 200px;
    text-align: center;
}

.divisao{
    width: 60px;
    height: 10px;
    background: linear-gradient(to right, #FF4040 , #002570) no-repeat;
    margin: 0 auto 20px auto;
}

.texto-1{
    text-align: center;
    font-size: 15px;
    line-height: 1.5;
    padding-bottom: 40px;
    margin: 0 auto;
    max-width: 700px;
}