.top-menu{
   width: auto; 
   height: 80px;
   background: #f0f0f0;
   border-top: solid #f0f0f0;
   border-bottom: solid #f0f0f0;
}

.top-contato{
    position: relative;
    padding-right: 20px;
    padding-top: 10px;
    width: auto;
    height: auto;
}

.contato-menu li{
    display: inline;
    line-height: 25px;
    text-align: center;
    margin-left: 1rem;
    padding-left: 5px;
    font-family: monospace;
}

.info-dolar{
    position: relative;
    left: 700px;
    bottom: 24px;
    width: 300px;
    height: auto;
}

.info-dolar li{
    display: inline;
    line-height: 25px;
    text-align: center;
    margin-left: 1rem;
    padding-left: 5px;
    font-family: monospace;
    color: #2095f4;
    font-weight: 600;
}

.info-siganos{
    margin-left: 1rem;
}

.logo{
    display: inline-block;
    margin-left: 5rem;
    padding: 12px 0px;
}

.menu-nav{
    position: absolute;
    display: inline;
    left: 45%;
    margin-top: 30px;
}

.menu-nav li{
    display: inline-block;
    margin-left: 1rem;
    vertical-align: middle;

}